<mat-toolbar class="bg-dark">
  <span><a routerLink="inicio"><img src='./assets/img/pblog-removebg-preview (2).png' class="d-block w-100" height="100px"></a></span>
  <span class="text-light"></span>
  <span class="example-spacer"></span>
  <span class="text-light"><a routerLink="login">ENTRAR</a></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon class="text-light"><a routerLink="inicio">share</a></mat-icon>
  </button>
</mat-toolbar>